In [2]:
# 1. Create initial dictionary with student data
student = {
    'first_name': 'Jan',
    'last_name': 'Kowalski',
    'id': 123456,
    'faculty': 'Linguistics',
    'year': 2
}

# 1.1 Add programming class grade using dictionary method
student.update({'programming_grade': 5.0})

# 1.2 Display all information using a loop
for key, value in student.items():
    print(f"{key}: {value}")

first_name: Jan
last_name: Kowalski
id: 123456
faculty: Linguistics
year: 2
programming_grade: 5.0

In [5]:
# Load required library
import pandas as pd

# Load the dataset
df = pd.read_csv('sample_data/test.csv')

# Display first 5 rows
print("First 5 rows:")
print(df.head())

# Display last 20 rows
print("\nLast 20 rows:")
print(df.tail(20))

# Display dataset info
print("\nDataset information:")
print(df.info())

First 5 rows:
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

Last 20 rows:
     PassengerId  Pclass                                             Name  \
398         1290       3                   Larsson-Rondberg, Mr. Edvard A
399         1291       3                         Conlon, Mr. Thomas Henry
400         1292       1                          Bonnell, Miss. Caroline
401         1293       2                                  Gale, Mr. Harry
402         1294       1                   Gibson, Miss. Dorothy Winifred
403         1295       1                           Carrau, Mr. Jose Pedro
404         1296       1                     Frauenthal, Mr. Isaac Gerald
405         1297       2     Nourney, Mr. Alfred (Baron von Drachstedt")"
406         1298       2                        Ware, Mr. William Jeffery
407         1299       1                       Widener, Mr. George Dunton
408         1300       3                  Riordan, Miss. Johanna Hannah""
409         1301       3                        Peacock, Miss. Treasteall
410         1302       3                           Naughton, Miss. Hannah
411         1303       1  Minahan, Mrs. William Edward (Lillian E Thorpe)
412         1304       3                   Henriksson, Miss. Jenny Lovisa
413         1305       3                               Spector, Mr. Woolf
414         1306       1                     Oliva y Ocana, Dona. Fermina
415         1307       3                     Saether, Mr. Simon Sivertsen
416         1308       3                              Ware, Mr. Frederick
417         1309       3                         Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare Cabin Embarked
398    male  22.0      0      0              347065    7.7750   NaN        S
399    male  31.0      0      0               21332    7.7333   NaN        Q
400  female  30.0      0      0               36928  164.8667    C7        S
401    male  38.0      1      0               28664   21.0000   NaN        S
402  female  22.0      0      1              112378   59.4000   NaN        C
403    male  17.0      0      0              113059   47.1000   NaN        S
404    male  43.0      1      0               17765   27.7208   D40        C
405    male  20.0      0      0       SC/PARIS 2166   13.8625   D38        C
406    male  23.0      1      0               28666   10.5000   NaN        S
407    male  50.0      1      1              113503  211.5000   C80        C
408  female   NaN      0      0              334915    7.7208   NaN        Q
409  female   3.0      1      1  SOTON/O.Q. 3101315   13.7750   NaN        S
410  female   NaN      0      0              365237    7.7500   NaN        Q
411  female  37.0      1      0               19928   90.0000   C78        Q
412  female  28.0      0      0              347086    7.7750   NaN        S
413    male   NaN      0      0           A.5. 3236    8.0500   NaN        S
414  female  39.0      0      0            PC 17758  108.9000  C105        C
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416    male   NaN      0      0              359309    8.0500   NaN        S
417    male   NaN      1      1                2668   22.3583   NaN        C

Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None