In [ ]:
#Tasks:

#Write a function rectangle_area that takes two arguments: the length and width of a rectangle. The function should return the area of the rectangle (1pt).
#Write a function is_even that takes one argument: an integer. The function should return True if the number is even and False if it is odd (1pt).
#Write a function convert_to_celsius that takes one argument: a temperature in Fahrenheit. The function should return the equivalent temperature in Celsius, using the formula (2pt):

#Using data on the Titanic, create a function that checks whether passengers were over or under 30 years old. Pass the results to a new column in the DataFrame (2pt).

In [5]:
# Task 1: Write a function rectangle_area that calculates the area of a rectangle.
def rectangle_area():
    """Calculate the area of a rectangle based on user input."""
    length = float(input("Enter the length of the rectangle: "))
    width = float(input("Enter the width of the rectangle: "))
    area = length * width
    print(f"The area of the rectangle is: {area}")
    return area

In [6]:
    rectangle_area()

Enter the length of the rectangle: 2
Enter the width of the rectangle: 4
The area of the rectangle is: 8.0

8.0

In [8]:
def is_even():
    """Check if a user-provided number is even."""
    number = int(input("Enter an integer: "))
    result = number % 2 == 0
    if result:
        print(f"The number {number} is even.")
    else:
        print(f"The number {number} is odd.")
    return result

In [9]:
is_even()

Enter an integer: 4
The number 4 is even.

True

In [13]:
# Task 3: Write a function convert_to_celsius to convert Fahrenheit to Celsius.
def convert_to_celsius():
    """Convert temperature from Fahrenheit to Celsius based on user input."""
    fahrenheit = float(input("Enter the temperature in Fahrenheit: "))
    celsius = (fahrenheit - 32) * 5.0 / 9.0
    print(f"The temperature in Celsius is: {celsius:.2f}")
    return celsius

In [14]:

convert_to_celsius()

Enter the temperature in Fahrenheit: 53
The temperature in Celsius is: 11.67

11.666666666666666

In [11]:
# Task 4: Using data on the test.csv file, create a function to classify passengers by age.
import pandas as pd

# Load the CSV file
test_data = pd.read_csv('test.csv')

def classify_age(data):
    """Classify passengers as over or under 30 years old."""
    data['AgeCategory'] = data['Age'].apply(lambda age: 'Over 30' if age > 30 else 'Under 30')
    return data

# Apply the function to the DataFrame
test_data = classify_age(test_data)

# Example: Display the updated DataFrame
print(test_data.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked AgeCategory
0  34.5      0      0   330911   7.8292   NaN        Q     Over 30
1  47.0      1      0   363272   7.0000   NaN        S     Over 30
2  62.0      0      0   240276   9.6875   NaN        Q     Over 30
3  27.0      0      0   315154   8.6625   NaN        S    Under 30
4  22.0      1      1  3101298  12.2875   NaN        S    Under 30