In [3]:
import pandas as pd
import numpy as np

In [4]:
# Load the dataset
MAIN_DATA = pd.read_csv("/content/test.csv")

In [5]:
# a. Create new DataFrame with selected columns
selected_df = MAIN_DATA[['Name', 'Age', 'Sex']].copy()

print("Task a: Selected DataFrame preview")
print(selected_df.head())
print("\n" + "="*50 + "\n")

Task a: Selected DataFrame preview
                                           Name   Age     Sex
0                              Kelly, Mr. James  34.5    male
1              Wilkes, Mrs. James (Ellen Needs)  47.0  female
2                     Myles, Mr. Thomas Francis  62.0    male
3                              Wirz, Mr. Albert  27.0    male
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0  female

==================================================

In [6]:
# b.i Calculate median age
median_age = selected_df['Age'].median()
print(f"Task b.i: Median age of passengers: {median_age:.2f} years")
print("\n" + "="*50 + "\n")

Task b.i: Median age of passengers: 27.00 years

==================================================

In [7]:
# b.ii Replace Sex values with numeric (0 for male, 1 for female)
selected_df['Sex'] = selected_df['Sex'].map({'male': 0, 'female': 1})
print("Task b.ii: Sex column converted to numeric")
print(selected_df['Sex'].value_counts())
print("\n" + "="*50 + "\n")

Task b.ii: Sex column converted to numeric
Sex
0    266
1    152
Name: count, dtype: int64

==================================================

In [8]:
# b.iii Count men and women
men_count = len(selected_df[selected_df['Sex'] == 0])
women_count = len(selected_df[selected_df['Sex'] == 1])
print("Task b.iii: Gender counts")
print(f"Number of men: {men_count}")
print(f"Number of women: {women_count}")
print("\n" + "="*50 + "\n")

Task b.iii: Gender counts
Number of men: 266
Number of women: 152

==================================================

In [9]:
# b.iv Calculate year of birth
selected_df['Year of birth'] = 1912 - selected_df['Age']
print("Task b.iv: Added Year of birth column")
print(selected_df.head())

Task b.iv: Added Year of birth column
                                           Name   Age  Sex  Year of birth
0                              Kelly, Mr. James  34.5    0         1877.5
1              Wilkes, Mrs. James (Ellen Needs)  47.0    1         1865.0
2                     Myles, Mr. Thomas Francis  62.0    0         1850.0
3                              Wirz, Mr. Albert  27.0    0         1885.0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0    1         1890.0

In [10]:
# Display final summary
print("\nFinal DataFrame Summary:")
print(selected_df.describe())

Final DataFrame Summary:
              Age         Sex  Year of birth
count  332.000000  418.000000     332.000000
mean    30.272590    0.363636    1881.727410
std     14.181209    0.481622      14.181209
min      0.170000    0.000000    1836.000000
25%     21.000000    0.000000    1873.000000
50%     27.000000    0.000000    1885.000000
75%     39.000000    1.000000    1891.000000
max     76.000000    1.000000    1911.830000